body{
    margin: auto ;
    background: rgb(255,255,255);
    /* gradient background */
    background: linear-gradient(90deg, #001514 , rgb(0, 57, 56) 100%, #4b0069 100%);
    color:white;
    align-items: center;

}
.logo{
    text-align: left;

}
.logo:hover{
    text-shadow: 0 0 25px white, 0 0 50px white;
    transform: scale(1.1);           
             
}

.navbar{
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#004b46;
    padding-right: 5%;
}
.navName{
    font-size: 25px;
}
.navName:hover{
    text-shadow: 0 0 25px white;
}

.banner{
    width: 100%;
    height: 300px;
    position: relative;
    background: #00000089;
    background-size: cover;
    background-position: center;
}
.banner-upload-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:#004b46;
   color: rgb(244, 244, 244);
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   cursor: pointer;
   text-align: center;
}

.blog{
    width: 70vw;
    min-width: 400px;
    height: fit-content;
    display: block;
    margin: auto;
    padding: 50px 0;
    padding-bottom: 80px;
    color: white;
   
    

}

.title{
    width: 98.8%;
    min-height: 100px;
    height: auto;
    outline: none;
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color:#004b46 ;
    margin-bottom: 30px;
}
.article{
    font-size: 20px;
    width: 100%;
    height: auto;
    outline: none;
   min-height:200px ;
   margin-bottom: 100px;
   color: white;
   background-color:#004b46
  
}
.blog-image-options{
   margin-top: 15%;
   margin-bottom:2%;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 60px;
    background: #004b4633;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
   
    cursor: pointer;
    background-color: #0000006f;
    font-family: "Times New Roman", Times, serif;
     font-size: 14px;
     letter-spacing: 2px;
     word-spacing: 2px;
     color: #ffffff;
     font-weight: bold;
     text-decoration: none;
     font-style: normal;
     font-variant: normal;
     text-transform: none;
     padding: 1%;
    margin: 25px;
    font: bolder;
    font-size: 14px;
     border-radius:15%;
}
.publish-btn{
    background-color: #0000006f;
    padding: 1%;
    margin: 25px;
    font: bolder;
    font-size: 14px;
    
     /* font */
     font-family: "Times New Roman", Times, serif;
     font-size: 14px;
     letter-spacing: 2px;
     word-spacing: 2px;
     color: #ffffff;
     font-weight: bold;
     text-decoration: none;
     font-style: normal;
     font-variant: normal;
     text-transform: none;
     
     border-radius:15%;
}
.footer{
    
    position: relative;
    bottom: 0;
    background-color: black;
    font-size: 20px;
    padding:5%;

 
}
#blogcontent{
    font-size: large;
    width:50%;
    flex-direction: column;
}
.navName{
     /* font */
     font-family: "Times New Roman", Times, serif;
     font-size: 25px;
     letter-spacing: 2px;
     word-spacing: 2px;
     color: #ffffff;
     font-weight: normal;
     text-decoration: none;
     font-style: normal;
     font-variant: normal;
     text-transform: none;

}
#readerBlog{
    width: 90%;
    min-width: 400px;
    height: fit-content;
    display: block;
    margin: auto;
    padding: 50px 0;
    padding-bottom: 80px;
  
}
.like-section{
  margin-left: 14.7%;
  
}

.like-btn{
    background-color: #ffffff;
    padding: 0.67%;
    font: bolder;
    font-size: 14px;
    
     /* font */
     font-family: "Times New Roman", Times, serif;
     font-size: 14px;
     letter-spacing: 2px;
     word-spacing: 2px;
     color: #000000;
     font-weight: bold;
     text-decoration: none;
     font-style: normal;
     font-variant: normal;
     text-transform: none;
     
     border-radius:15%;
}
.comment-form{
    border-radius: 10px;
    background-color: #0087805f;
    margin: 2.5%;
    padding:1.5%;
  margin-right: 10%;
  margin-left: 14.5%;
    flex-direction: column;
    display: flex;
    gap:10px;
}
#comment-input, .postb1{
    width:100%;
    padding:8px;
    border:1px solid #ccc;
    border-radius:4px;
}
.postb1{
    background-color: #004b46;
    color: #fff;
    cursor:pointer;
    transition: 0.3s;
}
.postb1:hover{
    background-color: #000000;
    color:white;
}
.Rh3{
     /* font */
     font-family: "Times New Roman", Times, serif;
     font-size: 30px;
     letter-spacing: 2px;
     word-spacing: 2px;
     color: #ffffff;
     font-weight: bold;
     text-decoration: none;
     font-style: normal;
     font-variant: normal;
     text-transform: none;
}
